@main("TWC mockup") { 

<table id="board">
<tr>
  <td class="triple-word"></td>
  <td></td>
  <td></td>
  <td class="double-letter"></td><td></td><td></td><td></td><td class="triple-word"></td><td></td><td></td><td></td><td  class="double-letter"></td><td></td><td></td><td class="triple-word"></td>
</tr>
<tr>
  <td></td>
  <td class="double-word"></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="triple-letter"></td>
  <td></td>
  <td></td><td></td><td class="triple-letter"></td><td></td><td></td><td></td><td class="double-word"></td><td></td>
</tr>
<tr>
  <td></td><td></td><td class="double-word"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="double-word"></td><td></td><td></td>
</tr>
<tr>
  <td></td><td></td><td></td><td class="double-word"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="double-word"> C </td><td></td><td></td><td></td>
</tr>
<tr>
  <td></td><td></td><td></td><td></td><td class="double-word"></td><td></td><td></td><td></td><td> W </td><td> I </td><td class="double-word"> T </td><td> H </td><td></td><td></td><td></td>
</tr>
<tr>
  <td></td><td></td><td></td><td></td><td></td><td class="triple-letter"></td><td></td><td></td><td></td><td class="triple-letter"></td><td></td><td> U </td><td></td><td></td><td></td>
</tr>
<tr>
  <td></td><td></td><td></td><td></td><td></td><td></td><td class="double-letter"></td><td></td><td class="double-letter"></td><td></td><td></td><td> M </td><td></td><td></td><td></td>
</tr>
<tr>
  <td class="triple-word"></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="double-word"> T </td><td> E </td><td> R </td><td> M </td><td> S </td><td></td><td></td><td class="triple-word"></td>
</tr>
<tr>
  <td></td><td></td><td></td><td></td><td></td><td></td><td class="double-letter"></td><td></td><td class="double-letter"></td><td></td><td></td><td></td><td></td><td></td><td></td>
</tr>
<tr>
  <td></td><td></td><td></td><td></td><td></td><td class="triple-letter"></td><td></td><td></td><td></td><td class="triple-letter"></td><td ></td><td></td><td></td><td></td><td></td>
</tr>
<tr>
  <td></td><td></td><td></td><td></td><td class="double-word"></td><td></td><td></td><td></td><td></td><td></td><td class="double-word"></td><td></td><td></td><td></td><td></td>
</tr>
<tr>
  <td></td><td></td><td></td><td class="double-word"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="double-word"></td><td></td><td></td><td></td>
</tr>
<tr>
  <td></td><td></td><td class="double-word"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="double-word"></td><td></td><td></td>
</tr>
<tr>
  <td></td><td class="double-word"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="double-word"></td><td></td>
</tr>
<tr>
  <td class="triple-word"></td><td></td><td></td><td  class="double-letter"></td><td></td><td></td><td></td><td class="triple-word"></td><td></td><td></td><td></td><td  class="double-letter"></td><td></td><td></td><td class="triple-word"></td>
</tr>


</table>
}