@main("TWC mockup") { 

<div class="centered">

<table id="board">
<tr>
  <td class="triple_word"></td>
  <td></td>
  <td></td>
  <td class="double_letter"></td><td></td><td></td><td></td><td class="triple_word"></td><td></td><td></td><td></td><td  class="double_letter"></td><td></td><td></td><td class="triple_word"></td>
</tr>
<tr>
  <td></td>
  <td class="double_word"></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="triple_letter"></td>
  <td></td>
  <td></td><td></td><td class="triple_letter"></td><td></td><td></td><td></td><td class="double_word"></td><td></td>
</tr>
<tr>
  <td></td><td></td><td class="double_word"></td><td></td><td></td><td></td><td class="double_letter"></td><td></td><td class="double_letter"></td><td></td><td></td><td></td><td class="double_word"></td><td></td><td></td>
</tr>
<tr>
  <td  class="double_letter"></td><td></td><td></td><td class="double_word"></td><td></td><td></td><td></td><td class="double_letter"></td><td></td><td></td><td></td><td class="double_word occupied"> C </td><td></td><td></td><td  class="double_letter"></td>
</tr>
<tr>
  <td></td><td></td><td></td><td></td><td class="double_word"></td><td></td><td></td><td></td><td class="occupied"> W </td><td class="occupied"> I </td><td class="double_word occupied"> T </td><td class="occupied"> H </td><td></td><td></td><td></td>
</tr>
<tr>
  <td></td><td class="triple_letter"></td><td></td><td></td><td></td><td class="triple_letter"></td><td></td><td></td><td></td><td class="triple_letter"></td><td></td><td class="occupied"> U </td><td></td><td class="triple_letter"></td><td></td>
</tr>
<tr>
  <td></td><td></td><td class="double_letter"></td><td></td><td></td><td></td><td class="double_letter"></td><td></td><td class="double_letter"></td><td></td><td></td><td class="occupied"> M </td><td class="double_letter"></td><td></td><td></td>
</tr>
<tr>
  <td class="triple_word"></td><td></td><td></td><td class="double_letter"></td><td></td><td></td><td></td><td class="double_word occupied"> T </td><td class="occupied"> E </td><td class="occupied"> R </td><td class="occupied"> M </td><td class="double_letter occupied"> S </td><td></td><td></td><td class="triple_word"></td>
</tr>
<tr>
  <td></td><td></td><td class="double_letter"></td><td></td><td></td><td></td><td class="double_letter"></td><td></td><td class="double_letter"></td><td></td><td></td><td></td><td class="double_letter"></td><td></td><td></td>
</tr>
<tr>
  <td></td><td class="triple_letter"></td><td></td><td></td><td></td><td class="triple_letter"></td><td></td><td></td><td></td><td class="triple_letter"></td><td ></td><td></td><td></td><td class="triple_letter"></td><td></td>
</tr>
<tr>
  <td></td><td></td><td></td><td></td><td class="double_word"></td><td></td><td></td><td></td><td></td><td></td><td class="double_word"></td><td></td><td></td><td></td><td></td>
</tr>
<tr>
  <td  class="double_letter"></td><td></td><td></td><td class="double_word"></td><td></td><td></td><td></td><td class="double_letter"></td><td></td><td></td><td></td><td class="double_word"></td><td></td><td></td><td  class="double_letter"></td>
</tr>
<tr>
  <td></td><td></td><td class="double_word"></td><td></td><td></td><td></td><td class="double_letter"></td><td></td><td class="double_letter"></td><td></td><td></td><td></td><td class="double_word"></td><td></td><td></td>
</tr>
<tr>
  <td></td><td class="double_word"></td><td></td><td></td><td></td><td class="triple_letter"></td><td></td><td></td><td></td><td class="triple_letter"></td><td></td><td></td><td></td><td class="double_word"></td><td></td>
</tr>
<tr>
  <td class="triple_word"></td><td></td><td></td><td  class="double_letter"></td><td></td><td></td><td></td><td class="triple_word"></td><td></td><td></td><td></td><td  class="double_letter"></td><td></td><td></td><td class="triple_word"></td>
</tr>
</table>


<div class="centered text" style="width:84px; margin-top:36px;"><a href="#">new game</a></div>

</div>

}